html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: normal;
  font-family: "Toss Product Sans", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: Toss Product Sans;
}

#app {
  width: 100%;
  height: 100%;
}
